{
  "domain": null,
  "port": null,
  "baseUrl": "/",
  "isSSL": false,
  "isDebug": false,
  "siteName": "MicroPress",
  "logoUrls": {
    "site": "/statics/img/logo.png",
    "admin": "/statics/img/logo-w.png"
  },
  "loadingMaxDuration": 30,
  "isEnabledComment": true,
  "adminAuthHeader": "Authorization",
  "adminAuthHeaderTokenPrefix": "Bearer",
  "availableFunctions": ["post"],
  "post": {
    "isEditablePostBodyOnPageByMarkdown": true,
    "defaultEditorMode": "richText",
    "autoSlugSet": {
      "isEnabled": false,
      "format": "date"
    },
    "isEnableSlugAutoSetButton": true
  },
  "media": {
    "url": "https://media.example.com"
  },
  "tinyMCEApiKey": null,
  "voteTypesDefault": ["like", "dislike"]
}

